/* styles.css */

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.index {
    color: yellow;
    background-color: black;
}

.headingStrong {
    font-weight: bolder;
    color: red;
}

.headingWeak {
    font-weight:lighter
}

.index.headingStrong {
    background-color: coral;
}